include common.pug
  tr
    td
      table(
          width='600'
          border='0'
          align='center'
          cellspacing='0'
          cellpadding='0'
        )
        tbody
          tr
            td
              div(style={ padding: '0 20px', background: '#fff' }): span
                table(
                    width='100%'
                    border='0'
                    cellspacing='0'
                    cellpadding='0'
                  )
                  tbody
