- var confirmLink = AppFullUrl + '/reset-password/' + _id + ':' + verificationResetPassword.code;
- var title = 'Password Reset';
include includes/content-wrapper.pug
    include includes/title.pug
    tr
      td(style={ 'font-size': '14px', 'line-height': '30px', padding: '20px 0', color: '#666' })
        | Hello,
        br
        | You have just initiated a request to reset the password in #{AppName}'s account.
        | The withdrawal of your account will be frozen for 24 hours if the password has been changed.&nbsp;
        a(
          href='mailto:' + email
          style={ 'font-weight': 'bold' }
        ) #{email}
        | &nbsp;To set a new password, please click the button below:
    tr
      td(style={ padding: '5px 0' })
        a(
          href=confirmLink
          style={ padding: '10px 28px', background: '#4055ee', color: '#fff', 'text-decoration': 'none' }
        ) Reset Password
    include includes/confirm-link.pug
    include includes/confirm-ttl.pug
    tr
      td(style={ padding: '20px 0 0 0', 'line-height': '26px', color: '#666' })
        | If this activity is not your own operation, please contact us immediately.
    tr
      td
        a(
          style={ color: '#e9b434' }
          href=AppFullUrl
        ) https://support.#{AppName}
    include includes/signature.pug
include includes/footer.pug
